.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

   background-color:rgb(218, 212, 212);
    height: 90px;
  
    text-align: center; 
    
    
    
   }
  .footer:p{
margin:0px;
  } 
 

.footer img {
  width: 3vw;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
.img1{
  width: 3vw;

}
#social-img{
position: absolute;
top:20px;
bottom:20px;
text-align: left;
}